<?xml version="1.0"?>
<robot name="cylinder">
  <link name="cylinder">
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.000247"
                 iyy="0.000247"
                 izz="0.000078"
                 ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <geometry>
          <mesh filename="package://edo/meshes/visual/cylinder.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://edo/meshes/visual/cylinder.dae"/>
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>