<?xml version="1.0"?>
<robot name="sphere">
  <link name="sphere">
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.00625"
                 iyy="0.00625"
                 izz="0.00625"
                 ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius="0.0125"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.0125"/>
      </geometry>
    </collision>
  </link>
</robot>